.wd-navigator {
    width: 15%;
}
.wd-search-post-part {
    width: 80%;
    height: 100%;
    margin-top: 20px;
    border: red solid 5px;
}
.wd-float-left {
    float: left;
}
.wd-section {
    color: white;
    font-family: "Arial Black";
    font-size: x-large;
    height: 50px;
    margin: 10px;
    padding: 20px;
}

.wd-container {
    background-color: black;
    height: 100vh;
}
.wd-search-setup-part {
    width: 100%;
    height: 30px;
    border: white solid 2px;
    margin-top: 10px;
}
.wd-search-part {
    width: 80%;
    height: 25px;
    border: blue solid 2px;
    background-color: darkgray;
}

.wd-setup-part {
    width: 10%;
    height: 25px;
    margin-left: 5%;
    border: pink solid 2px;
}

.wd-search-float-left {
    float: left;
}

.wd-search-icon {
    width: 10%;
    height: 20px;
    border: yellow solid 2px;
}
.wd-input {
    width: 80%;
    height: 20px;
    margin-left: 5%;
    border: orange solid 2px;
}

.wd-search-icon-float-left {
    float: left;
}

.wd-search-icon > img{
    width: auto;
    height: 20px;
    margin-left: 20%;
}

.wd-setup-part > img {
    width: auto;
    height: 20px;
}