.container {
    background-color: black;
}

.section {
    color: white;
    font-weight: bold;
    font-family: "Arial Black";
    font-size: large;
}
.search {
    background-color: darkgray;
    color: white;
}

.search-icon {
    color: white;
    width: 5px;
    height: 5px;
}