.wd-profile-photo {
    top:100px;
    left: 30px;
    background-color: white;
    border: solid white 5px;
}

.wd-user-name {
    margin-top: 70px;
}
.wd-edit-button {
    background-color: white;
    border: 1px solid lightgrey;
    color: black;
    font-weight: bold;
    padding: 5px 8px 5px 8px;
}