.wd-navigator {
    width: 15%;
    margin-left: 16px;
}
.wd-search-post-part {
    width: 80%;
    height: 95%;
    padding-top: 20px;

    border: 1px solid rgb(47, 51, 54);
    /*border: red solid 5px;*/
}
.wd-float-left {
    float: left;
}
.wd-section {
    color: white;
    font-family: "Arial Black";
    font-size: x-large;
    height: 50px;
    margin: 10px;
    padding: 20px;
}

.wd-container {
    background-color: black;
    height: 100vh;
}
.wd-search-setup-part {
    width: 100%;
    height: 40px;
    /*border: white solid 2px;*/
    margin-top: 10px;
    margin-right: 12px;
}
.wd-search-part {
    width: 80%;
    height: 95%;
    /*border: blue solid 2px;*/
    background-color: darkgray;
    opacity: 0.3;
    border-radius: 50px;
    margin-left: 5%;
}

.wd-setup-part {
    width: 10%;
    height: 80%;
    margin-top: 0.5%;
    margin-left: 5%;
    /*border: pink solid 2px;*/
}

.wd-search-float-left {
    float: left;
}

.wd-search-icon {
    width: 10%;
    height: 80%;
    /*border: yellow solid 2px;*/
}
.wd-input {
    width: 70%;
    height: 80%;
    padding: 0.7%;
    /*border: orange solid 2px;*/
}
.wd-input-content {
    width: 100%;
    height: 90%;
}
input[type="text"] {
    background-color: darkgray;
    font-color: white;
    border: darkgray 0px;
}
::placeholder {
    color: white;
    font-size: large;
}
.wd-search-icon-float-left {
    float: left;
}

.wd-search-icon > img{
    padding: 10%;
    width: auto;
    height: 80%;
    margin-right: 12px;
}

.wd-setup-part > img {
    width: auto;
    height: 30px;
}