.wd-container {
    background-color: black;
    height: 100vh;
}

.wd-section {
    color: white;
    font-family: "Arial Black";
    font-size: x-large;
    height: 50px;
    margin: 10px;
    padding: 10px;
}
.search {
    background-color: darkgray;
    color: white;
    float: left;
}

.search-icon {
    color: white;
    width: 1px;
    height: 1px;
}